/* CSS FILE */

.tab-widget {
	border:3px solid black;
	border-radius:7px 7px 0px 0px;
	padding:5px 25px;
}
.tab-widget-item {
	display:inline-block;
	width:100px;
	margin:-2px;
}
.tab-widget-list {
	width:325px;
	
}